a {
    cursor: pointer;
}
.success {
  padding: 20px;
  color: #4F8A10;
  background-color: #DFF2BF
}

.error {
  padding: 20px;
  color: #D8000C;
  background-color: #FFD2D2;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

/* loades styles*/

#processing {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:50%;
    z-index:1000;
    background-color:grey;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;     
}
