<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<h1>Hi {{vm.user.firstName}}!</h1>
			<p>You're logged in!!</p>
			<h3>All registered users:</h3>

			<table  class = "table table-striped table-bordered table-hover">
					<thead>
						<tr class ="info">
							 <th>FirstName</th>
							 <th>LastName</th>
							 <th>Email</th>
							 <th>Action</th>
						</tr>
					</thead>
					 <tbody>
                            <tr ng-repeat = "user in vm.allUsers" ng-include="vm.getTemplate(user)"></tr>
			         </tbody>
		    </table>

		<script type="text/ng-template" id="display">
	        <td>{{ user.firstName }}</td>

			<td>{{ user.lastName }}</td>

			<td>{{ user.username }}</td>
	        <td>	            
	             <button class= "btn btn-info"  ng-click="vm.editContact(user)">edit</button> &nbsp;
		         <button  ng-click="vm.deleteUser(user.id)" role = "button" class = "btn btn-danger">delete</button>
	        </td>
        </script>
	    <script type="text/ng-template" id="edit">

	        <td>
	        	<div class="form-group" ng-class="{ 'has-error': firstName.$dirty && firstName.$error.required }">
	            	<input type="text" name="firstName" id="firstName" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.selected.firstName" required />
	            	<span  style="color:Red" ng-show="firstName.$error.pattern" class="help-block">input only alphabet!</span>
	            	<span ng-show="firstName.$dirty && firstName.$error.required" class="help-block">First name is required</span>
        		</div>
            </td>
            
            <td>
	        	<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
	            	<input type="text" name="lastName" class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.selected.lastName" required />
	            	<span  style="color:Red" ng-show="form.lastName.$error.pattern" class="help-block">input only alphabet!</span>
	            	<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        		</div>
            </td>

            <td>
	        	<div class="form-group" ng-class="{ 'has-error': form.userame.$dirty && form.userame.$error.required }">
	            	<input type="text" name="userame"  class="form-control" ng-pattern="/^[a-zA-Z\s]*$/" ng-model="vm.selected.username" required />
	            	<span  style="color:Red" ng-show="form.username.$error.pattern" class="help-block">input only alphabet!</span>
	            	<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">email id is required</span>
        		</div>
            </td>


	        <td>
	            <button  class="btn btn-primary" ng-click="vm.saveContact($index)">Save</button>
	            <button class="btn btn-primary" ng-click="vm.reset()">Cancel</button>
	        </td>
	    </script>

			<p>&nbsp;</p>
			<p><a href="#!/login" class="btn btn-primary">Logout</a></p>

		</div>
	</div>
</div>
